In [1]:
print("hello, panda!")

hello, panda!

In [4]:
#First thing: Series!
#Index->
import numpy as np,pandas as pd
print("ok, done!")

ok, done!

In [11]:
pd.Series
#data and index are the main important things.
myindex = ['USA','Canada', 'Mexico']
mydata =[1776,1867,1821]
myseries = pd.Series(data=mydata,index=myindex)
myseries
#Like a dictionary!
myseries['USA']
myseries[0]

1776

In [14]:
#like dictionaries too:
ages = {'Sam':5, 'Frank':10,'Spike':7}
print(ages)
pd.Series(ages)

{'Sam': 5, 'Frank': 10, 'Spike': 7}

Sam       5
Frank    10
Spike     7
dtype: int64

In [15]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}
sales_q1=pd.Series(q1)
sales_q2=pd.Series(q2)

In [16]:
sales_q1['Japan']

80

In [17]:
sales_q2[0]

100

In [18]:
#Operations between Series
sales_q1*sales_q2

Brazil         NaN
China     225000.0
India      42000.0
Japan          NaN
USA        65000.0
dtype: float64

In [23]:
sales_q1/2
#Lets use other commands!Ihuuu!
#To fill value, we determine the default value in case there is no value in one of the columns
#It will substitute de value when there is no value for a certain index.
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [24]:
#While Doing operations between Series, it makes the operations according to the indexes.
#DATA FRAMES
#Create data frame
#Grab column/row
#Operations
#Lets create a random data
np.random.seed(101)
mydata=np.random.randint(0,101,(4,3))

In [25]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [30]:
myindex = ['PE','RN','MG','BA']
mycolumns = ['Jan','Feb','Mar']
df = pd.DataFrame(data=mydata,index=myindex,columns=mycolumns)
#other important methods to use.
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, PE to BA
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

             Jan        Feb        Mar
count   4.000000   4.000000   4.000000
mean   70.000000  21.750000  77.000000
std    22.730303  27.657127  10.198039
min    40.000000   4.000000  63.000000
25%    62.500000   7.750000  73.500000
50%    72.500000  10.000000  79.000000
75%    80.000000  24.000000  82.500000
max    95.000000  63.000000  87.000000

In [32]:
#csv -> comma separable variable!Wooooow!
#Where is your python file is located, and where is my python code located?
pwd

NameError: name 'pwd' is not defined

In [ ]:
#How to open csv files?Easy peasy!
df = pd.read_csv()